$black: #000000;
$white: #ffffff;

$bg: rgba(240, 83, 77, 0.9);
$expandable: rgba(186, 58, 58, 0.2);
$active: rgba(186, 58, 58, 1);
$content: rgba(105, 105, 105, 1);

.faqs-container {
  text-align: center;
  padding: 75px 330px 60px;
  background: $bg;
  mix-blend-mode: normal;
  font-size: 40px;
  line-height: 42px;
  font-weight: 700;
  color: $white;

  @media screen and (max-width: 768px) {
    padding: 40px 25px 30px;
    font-size: 30px;
  }
}

.faqs-content {
  margin: 30px auto;

  > p {
    text-align: left;
    margin: auto 30px;
    font-size: 16px;
    line-height: 28px;
    font-weight: 400;

    strong {
      font-weight: 700;
    }

    @media screen and (max-width: 768px) {
      font-size: 14px;
      line-height: 21px;
    }
  }
}

.faqs-expandable {
  &__title {
    display: flex;
    padding: 30px;
    margin: 10px auto 0;
    background-color: $expandable;
    text-align: left;
    font-size: 16px;
    font-weight: 500;
    line-height: 26px;
    border-radius: 3px;
    cursor: pointer;
    transition: all 0.5s;

    p {
      margin: 0px 15px 0px 0px;
    }

    @media screen and (max-width: 768px) {
      font-size: 14px;
      line-height: 21px;
    }
  }

  &__content {
    display: flex;
    padding: 30px;
    background-color: $white;
    color: $content;
    text-align: left;
    font-size: 16px;
    font-weight: 500;
    line-height: 26px;
    border-radius: 3px;

    p {
      color: $active;
      margin: 0px 15px 0px 0px;
    }

    @media screen and (max-width: 768px) {
      font-size: 14px;
      line-height: 21px;
    }
  }
}

.active {
  background-color: $active;
}

.hidden {
  overflow: hidden;
  max-height: 0px;
  transition: all 0.5s;
}

.show {
  overflow: auto;
  max-height: 500px;
  transition: all 0.5s;
}
